{% extends "layout.html" %}
{%block reg%}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for message in messages %}
            {% if "doesn't exsist" in message[1]: %}
                        <div class="alert alert-danger">
                        <strong>Error: </strong> {{ message[1] }}
                        </div>
            {% endif %}
            {% if "Wrong" in message[1]: %}
                        <div class="alert alert-danger">
                        <strong>Error: </strong> {{ message[1] }}
                        </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Main Form -->
<section>
    <div class="formbackground">
        <h2 style="text-align: center;padding: 10px;">Login</h2>
        <div class="login-form-1">
            <form id="login-form" class="text-left"  action="" method="POST" role="form">
                {{ form.csrf }}
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            {{ form.name.label(class_="sr-only")}}
                            {{ form.name(class_="form-control", placeholder="Username") }}
                            {% for error in form.name.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class_="sr-only")}}
                            {{ form.password(class_="form-control", placeholder="Password") }}
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                <span style="color: red;">{{ error }}</span><br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div style="text-align: center; padding-bottom: 15px;">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            
                <div class="etc-login-form" style="text-align: center;">
                    <p>forgot your password? <a href="{{ url_for('forgot') }}">click here</a></p>
                    <p>new user? <a href="{{ url_for('start') }}">create new account</a></p>
                </div>
            </form>
        </div> 
    </div>
</section>
    
{%endblock%}