{% extends "layout.html" %}
{%block nav%}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link font_size dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hi, {{username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('mypages') }}">My pages</a>
                <a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a>
            </div>
    </ul>
</div>
{%endblock%}
{%block reg%}

{%endblock%}