{% extends "layout.html" %}
{%block reg%}
    <h2 style="text-align: center;padding: 10px;">Registration</h2>
    <div class="container" style="max-width: 400px; align-content: center;">
        <div class="login-form-1">
            {% from "formhelpers.html" import render_field %}
            <form method=post id="register-form" class="text-left" action="{{url_for('reg')}}">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <dl>
                            {{ render_field(form.name, class="form-group") }}
                        
                            {{ render_field(form.email, class="form-group") }}
                       
                            {{ render_field(form.password, class="form-group") }}
                            
                            {{ render_field(form.confirm, class="form-group") }}
                        </dl>
                        <div class="form-group login-group-checkbox">
                            {{form.accept_tos}} I agree with <a href="#">terms</a>
                        </div>                       
                        <p>
                        <div style="text-align: center; padding-bottom: 10px;">
                            <input type=submit class="btn btn-primary" value=Register>
                        </div>
                        <div class="etc-login-form" style="text-align: center;">
                            <p>already have an account? <a href="{{ url_for('login') }}">login here</a></p>
                        </div>
                    </div>
                </div>
            </form>
            
            
            
            
            <!-- <form id="register-form" class="text-left" action="{{url_for('reg')}}" method="POST">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label for="reg_username" class="sr-only">Username</label>
                            <input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="reg_email" class="sr-only">Email</label>
                            <input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <label for="reg_password" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password">
                        </div>
                        <div class="form-group">
                            <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
                            <input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">
                        </div>
                        <div style="align-content: center; text-align: center;">
                            <div class="form-group login-group-checkbox">
                                <input type="radio" class="" name="reg_gender" id="male" placeholder="username">
                                <label for="male">male</label>
                                
                                <input type="radio" class="" name="reg_gender" id="female" placeholder="username">
                                <label for="female">female</label>
                            </div>
                            
                            <div class="form-group login-group-checkbox">
                                <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                                <label for="reg_agree">i agree with <a href="#">terms</a></label>
                            </div>
                        </div>
                        <div style="text-align: center; padding-bottom: 10px;">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                    <div class="etc-login-form" style="text-align: center;">
                        <p>already have an account? <a href="{{ url_for('login') }}">login here</a></p>
                    </div>
                </div>
            </form> -->
        </div>
    </div>

{%endblock%}
